* {
    padding: 0;
    margin: 0;
    font-family: fantasy;
} /* removes padding margin and changes the font for the whole page*/ 

.background {
    background-color: rgb(71, 71, 71);
    height: 100vh;
    padding-top: 1px;
}/* adds a bg color to the class, makes the height the whole ViewHieght, and pads the top*/

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}/*changes color for the class, aligns the text, changes font size to 40px
and lastly makes the margin 10% of the page at the top where the element resides*/

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}/* changes color fontsize aligns text and lastly
changes top and bottom margins to fit the original font size which is called em*/

.hide {
    display: none;
}/* used in JS to hide an element if need be*/

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%; 
    max-width: 300px;
}/*creates the grid  by splitting it into thirds and then calling its width as 300px*/

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}/* sets up each tile and cursor pointer makes it so the element is 
reactive to the pointer*/

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

/*used to color both the player elements in JS*/

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}/* centers the control section in its row respective to the font*/

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em; 
    cursor: pointer;
}/* styles the reset button and makes it reactive*/

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}